html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}
.card-checkout {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin: 10px;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
}
.kondisi {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.checkout {
  text-align: center;
}
/* .pesanan {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .cetak {
  flex-direction: column;
} */

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.card-text-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body .btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}
/* .card-container {
  display: inline-block;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
} */

/* .btn {
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
} */
.card-img-top {
  /* width: 100%; */
  /* height: 250px; */
  /* border-bottom: 1px solid #ccc; */
  top: 50%;
  margin-left: 10%; /* Menempatkan konten di tengah */
  margin-top: 20px;
  max-width: 100%;
  max-height: 300px;
  display: inline-block;
  flex-direction: column;
}

footer {
  /* background-color: #333; */
  color: #333;
  padding: 20px 0;
  text-align: center;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0px;
}

.text-center {
  margin-top: 10px;
}

span, p {
  font-size: medium;
}
